body {
  margin: 0;
  background-color: #fff0dc;
}
#container {
  width: 99%;
  margin: auto;
}
#profPic {
  width: 150;
  margin: auto;
}

#header-table {
  background-color: #543a14;
  margin-bottom: 0;
}

#header-table p {
  color: #eeeeee;
}

.info {
  color: #fff0dc;
}

hr {
  height: 15px;
  border: none;
  margin-top: 0;
  background-color: #131010;
}

h1 {
  color: #fff0dc;
}

h2,
th {
  color: #543a14;
  text-align: left;
}

a {
  text-decoration: none;
}
